.footer {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #f2c464
  ); 
  color: #ffffff; 
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
