.register-page {
  padding: 20px;
}

.register-page .container-fluid {
  padding-top: 50px; /* Berikan ruang di atas container */
}

.register-page .row {
  margin-bottom: 20px;
}

.register-page img {
  max-width: 100%;
  height: auto;
}

.register-page form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.register-page .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-page .social-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .register-page .col-md-8 {
    margin-top: 20px;
  }
}
