.services {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(236, 235, 235, 0.5);
  animation: fadeIn 1s ease;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.services p {
  line-height: 1.6;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services li {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.services li:hover {
  background-color: #f7f7f7;
}

.services li i {
  font-size: 24px;
  margin-right: 10px;
  color: #f2c464;
}

.services li:hover i {
  color: #333;
}

.services li h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  flex: 1;
}

.services li p {
  font-size: 14px;
  color: #666;
  flex: 1;
}

@media (max-width: 768px) {
  .services {
    max-width: 100%;
  }

  .services p {
    text-align: left;
  }
}
